:root {
  --base: #0a2833;
  --primary: #70f8ba;
  --accent: #6793a2;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--base);
  color: var(--accent);
}
